/**
 * @file
 * Presentation-specific styles.
 */
.reveal .slides section.title {
  padding: 0;
}
.reveal .slides section.title .content {
  grid-template-columns: auto;
  grid-template-areas: "title" "description";
}
.slides .title .presentation-url {
  grid-area: header;
  text-align: right;
  font-size: 0.8em;
  align-self: center;
  opacity: 0.5;
}

#about {
  background-image: url('../images/eaglebluffs.jpg');
  background-size: cover;
  background-position: center center;
}
#about a {
  color: rgb(51, 51, 51);
}
#about aside {
  background-color: rgba(255, 255, 255, .8);
  color: #000;
  float: right;
  font-size: 1.5em;
  padding: 5vmin;
}
#about aside hr {
  color: rgba(0,0,0, 0.075);
  margin: 2.5vmin 0;
}
#about aside ul {
  display: block;
  list-style: none;
  margin: 2.5vmin 0 0;
}
#about .projects {
  text-align: center;
}
#about .accounts a .fa + span,
#about .projects a {
  /*text-decoration: underline rgba(51, 51, 51, 0.1);*/
}
#about .accounts a:hover .fa + span,
#about .projects a:hover {
  text-decoration: underline rgba(51, 51, 51, 0.65);
}
#about .accounts {
  display: grid;
  justify-content: center;
}
#about .accounts a {
  display: flex;
  align-items: baseline;
}
#about .accounts .fa {
  margin-right: 0.25ex;
  width: 1.8ex;
}
#about .fa-drupal {
  color: #0678be;
}
#about .fa-twitter {
  color: #1DA1F2;
}


blockquote.twitter-tweet {
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 0.25em;
  grid-template-areas: "avatar content content" ". author timestamp";
  grid-template-columns: auto 1fr auto;
  padding: 0.5em 1em;
  text-align: right;
}
.twitter-tweet img {
  align-self: center;
  border-radius: 50%;
  grid-area: avatar;
  height: 3em;
  max-width: none;
}
.twitter-tweet:first-child {
  margin-top: 0;
}
.twitter-tweet:last-child {
  margin-bottom: 0;
}
.twitter-tweet p {
  font-size: 1.4em;
  font-style: normal;
  grid-area: content;
  margin: 0;
  text-align: left;
}
.twitter-tweet .author {
  grid-area: author;
  justify-self: end;
}
.twitter-tweet a {
  color: inherit;
  grid-area: timestamp;
  text-align: right;
  opacity: 0.5;
}

@media (max-width: 768px) {
  blockquote.twitter-tweet {
    width: 100%;
  }
  .twitter-tweet img {
    width: 36px;
  }
}

#referrer-policy--example h2 {
  width: 80%;
  margin: 0 auto 1em;
}
#referrer-policy--example table {
  width: 80%;
}

#referrer-policy--example table td,
#referrer-policy--example table td {
  border: 1px solid #ccc;
  padding: 0.5em;
}

#sprints, #feedback {
  background-image: url('../images/drupalcon-vienna-bg.png');
  background-size: cover;
  background-position: top center;
  color: #4c697d;
  text-align: center;
}
#sprints .grid-wrapper,
#feedback .grid-wrapper {
  padding-top: 20vmin;
}
#sprints h2 {
  color: #cd9b23;
  font-weight: lighter;
}
#sprints .grid-wrapper {
  grid-template-areas: "title" "rooms" "hashtag";
  grid-template-rows: auto auto 1fr;
}

#sprints .sprint-types {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
#sprints .sprint-types > div {
  width: 25%;
}
#sprints .sprint-types span {
  display: block;
}
#sprints .sprint-types .sprint-title {
  font-size: 1.8em;
}
#sprints .sprint-title {
  color: #cd9b23;
}

#sprints .hashtag {
  align-self: end;
  color: #cd9b23;
  font-size: 3em;
}

#feedback .content {
  font-size: 2em;
}
#feedback .content p {
  margin-bottom: 2em;
}
#feedback [href^="https://events.drupal.org"] {
  font-size: 0.75em;
}
